@import './fonts.scss';

/* Variables */
$osreg: 'OpenSansRegular';
$oslight: 'OpenSansLight';
$osbold: 'OpenSansBold';
$osital: 'OpenSansItalic';
$body-size: 1.7em;
$h1color: #999;
$dfci-red: #B21E3A;

/* Mixins */
@mixin menustyle {
	float: left;
	list-style: none;
}

/* Helpers */
.inline-block {
  display: inline-block;
}

/* overall */

body {
  font-family: $osreg;
  font-size: $body-size;
}

h1 {
	color: $h1color;
}

h2 {
	font-size: 1.5em;
}

strong {
  font-weight: normal;
  font-family: $osbold;
}

header.navbar {
	margin-top: 20px;
}

.header-logo {
	margin-bottom: 20px;
}

.navbar-default {
  background: #fff;
  border: none;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default .navbar-nav > li > a {
  color: $dfci-red;
  font-size: 1.3em;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active-trail a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background: none;
}

/* Content */
.main-content-margin {
  margin-top: 30px;
}

.panel {
  margin-top: 10px;
  h3 {
    margin: 0;
	font-size: 90%;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	font-weight: normal;
	color: #666;
  }
  ul {
    padding-right: 20px;
  }
}

/* Footer stuff */

.footer-logos,
.footer-legal {
	li {
		@include menustyle;
	}
}

.footer-legal {
	ul {
		padding-left: 0;
		float: right;
	}
	li {
		padding: 0 6px;
		border-right: #000 1px solid;
	}
	li:first-child {
	 padding-left: 0;
	}
	li:last-child {
		border: none;
	}
	.legal {
		text-align: right;
		font-size: 80%;
	}
}

.footer-logos {
  ul {
    padding-left: 0;
  }
  a {
    margin: 8px 20px 8px 0;
	display: block;
  }
}

/* Home */

.homepage-news {
  margin-top: 30px;
}

.highlighted h1 {
  color: #fff;
}

.md-objects {
  .quote-title {
    font-family: $oslight;
    font-size: 3.2em;
  }
  .quote {
    font-size: 1.3em;
	line-height: 1.3em;
  }
  .source {
    margin-top: 20px;
	line-height: 1.3em;
	font-family: $osital;
  }
}

.staff {
  img {
    float: left;
	margin: 0 15px 20px 0;
  }
  p {
    margin-top: 20px;
  }
  p:after {
    content: "";
	display: block;
	clear: both;
  }
}

.img-panel {
  margin-bottom: 30px;
}


/* Tablet portrait only */
@media (max-width: 1199px) and (min-width: 1024px) {
  
}

@media (max-width: 1023px) and (min-width: 768px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 991px) {
}

@media (max-width: 1199px) and (min-width: 992px) {
  .md-object h1,
  .md-object p {
    padding-left: 50px;
  }
  .md-objects {
    .quote-title {
      font-size: 2.5em;
    }
    .md-object {
      .quote, {
        margin-top: -20px;
      }
    }
  }
  .footer-logos {
    li {
      width: 33%;
    }
    li:last-child {
      width: 28%;
    }
  }
  .footer-logos {
  /*
    li {
      width: 80%;
    }
    */
  }
}

@media (max-width: 991px) {
  .header-logo {
    padding: 0 20px;
  }
/* Nav */
  .navbar-default .navbar-nav > li > a {
    font-size: 1.15em;
  }

/* Home */
  .md-objects {
    .quote-title,
    .quote,
    .source {
      margin-left: 28px;
    }

    .quote-title {
      font-size: 2.3em;
    }
    .quote {
      font-size: 1.1em;
	  line-height: 1.4em;
    }
    .source {
      margin-top: 20px;
      font-size: 0.9em;
	  line-height: 1.3em;
    }
  }
  .footer-logos {
    text-align: center;
    ul {
      display: inline-block;
    }
  }

  .footer-legal {
    nav {
      margin-top: 15px;
    }

    ul {
      float: none;
      margin-left: auto;
      margin-right: auto;
      display: table;
    }

    .legal {
      text-align: center;
    }
  }
}

@media (max-width: 767px) and (min-width: 640px) {
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
  }

  .navbar-collapse.collapse.in,
  .navbar-header .collapse,
  .navbar-toggle {
    display: none !important;
  }
  
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    border: none;
  }

  .navbar-nav > li {
    float: left;
  }

}

@media (max-width: 767px) {
  .inline-block {
    width: 100%;
  }

/* footer */
  .footer-logos {
    li {
      float: none;
    }
    a {
      display: inline-block;
      margin: 10px 0;
    }
  }
}

@media (max-width: 640px) {
/* Nav */
  .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }

  .dropdown-menu {
    display: block;
    float: none;
    position: relative;
    box-shadow: none;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    li > a {
      display: inline-block;
    }
  }

/* Home */
  .md-objects {
    .quote, .source {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .md-objects {
    .quote-title {
      font-size: 1.5em;
    }
  }

  .header-logo,
  header.navbar {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .navbar .logo {
    display: block;
  }
}
